<h2>
  Darstellung eines Räuber-Beute-Systems
</h2>
<md-card class="content-card">
  <md-card-content>
  <md-input-container>
    <input mdInput [(ngModel)]="size" placeholder="Feldgröße">
  </md-input-container>
  <md-input-container>
    <input mdInput [(ngModel)]="populationLevel" placeholder="Fortpflanzungslevel">
  </md-input-container>
  </md-card-content>
    <md-card-actions>
      <button md-button (click)="reset()">
        <md-icon>settings</md-icon>
        Generate Map
      </button>
    </md-card-actions>
</md-card>


<div>
  <md-card class="content-card">
    <md-card-content>
      <md-grid-list [cols]="size" rowHeight="50px">
        <div *ngFor="let line of map.fields">
          <md-grid-tile *ngFor="let cell of line" (click)="currentCell = cell" [style.background]="cell.color">
            {{cell.value}}
          </md-grid-tile>
        </div>
      </md-grid-list>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="map.addPrey()">
        <md-icon>add_circle_outline</md-icon>
        Add Prey
      </button>
      <button md-button (click)="map.addPredator()">
        <md-icon>add_circle</md-icon>
        Add Predator
      </button>
      <button md-button (click)="calculate()">
        <md-icon>navigate_next</md-icon>
        Calculate
      </button>
      <button md-button (click)="iterate()">
        <md-icon>cached</md-icon>
        Iterate
      </button>
      <button md-button (click)="reset()">
        <md-icon>close</md-icon>
        Reset
      </button>
    </md-card-actions>
  </md-card>
</div>


<div *ngIf="currentCell">
  <md-card class="content-card">
    <md-card-header>
      <md-card-title> Aktuelle Zelle </md-card-title>
    </md-card-header>
    <md-card-content>
      <p class="thick">Koordinaten: </p>
      <p>{{currentCell.xCoordinate}}, {{currentCell.yCoordinate}} </p>
      <p class="thick">ID: </p>
      <p>{{currentCell.id}} </p>
      <p class="thick">Wert: </p>
      <p>{{currentCell.value}} </p>
      <p class="thick">Typ: </p>
      <p>{{currentCell.type}} </p>
      <p class="thick">Ausrichtung: </p>
      <p *ngIf="currentCell.direction !== null"> {{currentCell.direction}} </p>
      <p *ngIf="currentCell.direction === null"> null </p>
      <p class="thick">Nachbarn: </p>
      <span *ngFor="let neighbour of map.getNeighbours(currentCell.xCoordinate, currentCell.yCoordinate)"> 
        {{neighbour.value}} ... {{neighbour.direction}},
      </span>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="currentCell=null">
        <md-icon>close</md-icon>
        SCHLIESSEN
      </button>
    </md-card-actions>
  </md-card>
</div>