<h2>
  Darstellung eines Räuber-Beute-Systems
</h2>
<md-card>
  <div>
    <md-input-container>
      <input mdInput [(ngModel)]="size" placeholder="Feldgröße">
    </md-input-container>
    <button md-raised-button type="button" (click)="reset()">Generate Map</button>
  </div>

  <button md-raised-button type="button" (click)="map.addPrey()">Add Prey</button>
  <button md-raised-button type="button" (click)="map.addPredator()">Add Predator</button>
  <button md-raised-button type="button" (click)="calculate()">Calculate</button>
  <button md-raised-button type="button" (click)="reset()">Reset</button>
</md-card>


<div>
  <md-card>
    <div *ngFor="let line of map.fields">
      <a *ngFor="let cell of line" (click)="currentCell = cell" [className]="cell.type">
      {{cell.value}}
    </a>
    </div>
  </md-card>
</div>


<div *ngIf="currentCell">
  <md-card>
    <p> Aktuelle Zelle </p>
    <p> {{currentCell.value}} </p>
    <a *ngFor="let neighbour of map.getNeighbours(currentCell.xCoordinate, currentCell.yCoordinate)"> 
    {{neighbour.value}}.. {{neighbour.direction}},
  </a>
    <a>direction: {{currentCell.direction}}</a>
  </md-card>
</div>