md-grid-tile {
  background: #B19CD9;
}

.isNextGen {
  font-weight: bold;
}

md-grid-list {
  height: 400px;
}

.table-headline {
  font-weight: bold;
}

.ea-options md-input-container {
  padding-right: 15px
}